/* Colors:
#010400 - BLACK
#30332E - JET
#FFFBFC - SHOW
#62BBC1 - MOONSTONE BLUE
#EC058E - MAGENTA (PROCESS)
*/

body {
  background: #FFFBFC;
  color: #010400;
}

h1 {
  font-size: 10vw;
}

h2 {
  font-size: 3vw;
  color: #30332E;
}

div#gallery div.gallery-item img {
  border-radius: 20px;
  margin-top: 40px;
}

div#gallery div.gallery-item div.caption {
  margin-top: 10px;
  padding: 20px;
  border-radius: 20px;
  background: #30332E;
  color: #FFFBFC;
}